@use 'variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  padding: 8px 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.icon-style {
  width: 30px;
  height: 30px;
  color: $color-primary;
  margin-right: 8px;
  flex-shrink: 0;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  color: $color-primary;
  margin: 0;
}
