@use 'variables' as *;

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-lg;
  color: $color-text-secondary;
  transition: background-color $transition-fast;

  &:hover {
    background-color: $color-border;
  }
}
