<div class="container">
  <div class="toolbar">
    <app-search-box (search)="onSearch($event)" />
    <app-button label="Agregar" variant="primary" (clicked)="onAddProduct()" />
  </div>

  <div class="table-container">
    @if (isLoading()) {
      <table class="products-table">
        <ng-container *ngTemplateOutlet="tableHeader" />
      </table>
      <app-skeleton />
    } @else if (error()) {
      <app-error-message 
        [message]="error()!" 
        (retry)="onRetry()" 
      />
    } @else {
      <table class="products-table">
        <ng-container *ngTemplateOutlet="tableHeader" />
        <tbody>
          @for (product of paginatedProducts(); track product.id) {
            <tr>
              <td class="col-logo">
                @if (product.logo) {
                  <img
                    class="product-logo"
                    [src]="product.logo"
                    [alt]="product.name"
                    (error)="$any($event.target).src=''"
                  />
                } @else {
                  <div class="product-avatar">
                    {{ product.name.substring(0, 2) | uppercase }}
                  </div>
                }
              </td>
              <td class="col-name">{{ product.name }}</td>
              <td class="col-description">{{ product.description }}</td>
              <td class="col-date">{{ product.releaseDate | date:'dd/MM/yyyy' }}</td>
              <td class="col-date">{{ product.revisionDate | date:'dd/MM/yyyy' }}</td>
              <td class="col-actions">
                <app-dropdown-menu 
                  [options]="menuOptions" 
                  (optionSelected)="onProductAction($event, product)" 
                />
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="empty-message">
                No se encontraron productos
              </td>
            </tr>
          }
        </tbody>
      </table>

      <app-pagination
        [totalResults]="totalResults()"
        [pageSize]="pageSize()"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    }
  </div>
</div>

<ng-template #tableHeader>
  <thead>
    <tr>
      <th scope="col" class="col-logo">Logo</th>
      <th scope="col" class="col-name">Nombre del producto</th>
      <th scope="col" class="col-description">
        Descripción
        <span class="info-icon" title="Descripción del producto financiero">i</span>
      </th>
      <th scope="col" class="col-date">
        Fecha de liberación
        <span class="info-icon" title="Fecha en que el producto estará disponible">i</span>
      </th>
      <th scope="col" class="col-date">
        Fecha de reestructuración
        <span class="info-icon" title="Fecha de revisión de términos y condiciones">i</span>
      </th>
      <th scope="col" class="col-actions"></th>
    </tr>
  </thead>
</ng-template>

@if (showDeleteModal() && productToDelete()) {
  <app-confirm-delete-product
    [product]="productToDelete()!"
    (deleted)="onProductDeleted($event)"
    (cancelled)="onDeleteCancelled()"
  />
}
